<form [formGroup]="postForm" (ngSubmit)="onPost">

	<mat-form-field appearance="fill">
		<mat-label>Title</mat-label>
		<input formControlName="title" matInput type="text" placeholder="My day">
	</mat-form-field>

	<mat-form-field appearance="fill">
		<mat-label>Type some content of post</mat-label>
		<textarea formControlName="text" matInput cdkTextareaAutosize cdkAutosizeMinRows="5" placeholder="I had a beautiful day..."></textarea>
	</mat-form-field>

	<mat-form-field appearance="fill">
		<mat-label>Upload a picture</mat-label>
		<mat-icon matSuffix>upload</mat-icon>
		<ngx-mat-file-input formControlName="file" class="image-input" #removableInput></ngx-mat-file-input>
		<button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
			<mat-icon>clear</mat-icon>
		</button>

	</mat-form-field>

	<div class="new-post-actions-container">
		<button mat-raised-button class="post-button" (click)="onPost()" [disabled]="postForm.invalid">Post</button>
	</div>
</form>
