<mat-card class="post-card" hover>
	<mat-card-header>
		<mat-card-title>{{ post.title }}</mat-card-title>
	</mat-card-header>

	<img mat-card-image [src]="post.imageURL" alt="Photo of a {{ post.title }}">

	<mat-card-content>
		<p>{{ post.text }}</p>
	</mat-card-content>

	<mat-card-actions>
		<button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
			<mat-icon>favorite</mat-icon>
		  </button>
		<span *ngIf="post.likes">10 liked it</span>
		<span *ngIf="!post.likes">Like the post!</span>
		<!-- <button mat-button>SHARE</button> -->
	</mat-card-actions>
	<app-comments [post]="post"></app-comments>
</mat-card>
