<div class="container">
	<div class="content-wrapper">

		<form [formGroup]="postForm" (ngSubmit)="onPost">
			<mat-form-field appearance="fill">
				<textarea formControlName="text" matInput cdkTextareaAutosize cdkAutosizeMinRows="5" placeholder="Type something..."></textarea>
			</mat-form-field>

			<mat-form-field class="image-button">
				<ngx-mat-file-input formControlName="file" class="image-input" #removableInput placeholder="Upload picture"></ngx-mat-file-input>
				<button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
					<mat-icon>clear</mat-icon>
				</button>

			</mat-form-field>

			<div class="new-post-actions-container">
				<button mat-raised-button class="post-button" (click)="onPost()">Post</button>
			</div>
		</form>

		<mat-card class="post-card">
			<mat-card-header>
				<!-- <div mat-card-avatar class="example-header-image"></div> -->
				<mat-card-title>Shiba Inu</mat-card-title>
				<!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
			</mat-card-header>

			<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

			<mat-card-content>
				<p>
					The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
					A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
					bred for hunting.
				</p>
			</mat-card-content>

			<mat-card-actions>
				<button mat-icon-button class="like-button" disableRipple="true">
					<mat-icon>favorite_border</mat-icon>
				</button>
				<span>10 liked it</span>
				<!-- <button mat-button>SHARE</button> -->
			</mat-card-actions>

			<div class="comments-container">
				<div class="comments">
					<div class="title">Comments</div>
					<p><b>John:</b> Woow! Love it!</p>
				</div>
			</div>

			<div class="comment-input">
				<mat-form-field class="comment-form-field">
					<textarea matInput type="text" placeholder="Add a comment"></textarea>
				</mat-form-field>
				<button class="comment-button" mat-button>Comment</button>
			</div>
		</mat-card>
	</div>

</div>
