<div class="container">
	<div class="form-container">
		<h1 class="title">Login</h1>
		<form>
			<mat-form-field appearance="outline">
				<mat-label>E-mail address</mat-label>
				<input color="primary" type="email" matInput placeholder="Type your e-mail adress">
			</mat-form-field>

			<mat-form-field appearance="outline">
				<mat-label>Password</mat-label>
				<input type="password" matInput placeholder="Type your password">
			</mat-form-field>
		</form>

		<div class="buttons-container">
			<button mat-raised-button class="login-button" type="submit">Login</button>
			<p>OR</p>
			<button mat-raised-button>Create account</button>
		</div>
	</div>
</div>
