.nav-container {
	display: flex;
	height: 4rem;
	background-color: #4285F4;
	color: white;
	padding: 0;
	box-shadow: 0 8px 6px -6px rgba(153, 153, 153, .836);
	z-index: 10;
}

.branding {
	display: flex;
	width: 50%;
	align-items: center;
	font-size: 22px;
	letter-spacing: 1px;
	font-weight: 800;
	padding: 1rem;
	padding-left: 2rem;
}
